<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">    
    <!-- Head -->
    <th:block th:fragment="headerFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">                        
            <!--/* css */-->
            <link th:href="@{/css/mvp.css}" rel="stylesheet" />            
    	    <title>Spring Boot</title>
        </head>        
        <div class="header">
            <h2>Sample Thymeleaf and MSA</h2>
            <nav>
                <a href="#">Login</a>
                <a href="/member/join">Join</a>
            </nav>
        </div>
    </th:block>
</html>