<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">        
    <th:block layout:fragment="content">
    	<div>
            <h2>회원가입 화면</h2>
            <form name="joinForm" method="POST" action="">
                <label>아이디</label>
                <input type="text" name="userId" placeholder="아이디" maxlength="20"/>
                <label>이름</label>
                <input type="text" name="userName" placeholder="이름" maxlength="10" />
                <label>패스워드</label>
                <input type="password" name="password" maxlength="20" />
                <label>패스워드확인</label>
                <input type="password" name="repassword" maxlength="20" />
                <label>이메일</label>
                <input type="text" name="email1" maxlength="20" />
                @
                <input type="text" name="email2" maxlength="20" />
                <label>전화번호</label>
                <input type="text" name="tel" maxlength="20" />
                <button>등록</button>
            </form>
        </div>
    </th:block>
</html>